<% include partials/header %>

<h1>WELCOME TO THE YELPCAMP WEBAPP</h1>
<h3>HERE YOU CAN FIND BUNCH OF EXOTIC PLACES FOR CAMPING..</h3>

<a href=/campgrounds>VIEW ALL CAMPGROUNDS..</a>

<% include partials/footer %>